<div id="container" class="container">

    <p class="h1 text-center my-2 text-bg-dark form-border">Add Member</p>
    <form id="addmember-form" class="row form-border p-2 g-3 mt-2 justify-content-center" method="POST" action="addmember">

        <div class="row my-2 justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>