<div class="container">
    <p class="h1 text-center my-2 text-bg-danger form-border">Create Manager</p>
    <form id = 'admin-manager-signup-form' class="row form-border p-2 g-3 mt-2" method="post" action="/register">
        <div class="col-md-6">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname">
        </div>
        <div class="col-md-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <input type="hidden" value="manager" name="role">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-danger">Create Account</button>
        </div>
    </form>
</div>