<header>
    <h1>Bugs Summary Page</h1>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="chart-container">
    <div class="chart-box">
        <canvas id="BugStatus" style="width:100%;max-width:600px"></canvas>
        <table id="statusTable">
            <tr>
                <th>Status</th>
                <th>Count</th>
            </tr>
        </table>
    </div>
    <div class="chart-box">
        <canvas id="Priority" style="width:100%;max-width:600px"></canvas>
        <table id="PriorityTable">
            <tr>
                <th>Priority</th>
                <th>Count</th>
            </tr>
        </table>
    </div>
</div>

<script>
let result = {{{json summary}}}
// Status Pie Chart and Table
let statusKeys = Object.keys(result.status);
let statusValues = Object.values(result.status);
let pieColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];
let statusTable = document.getElementById("statusTable");

for (let i = 0; i < statusKeys.length; i++) {
    let row = statusTable.insertRow();
    let cell1 = row.insertCell(0);
    let cell2 = row.insertCell(1);
    cell1.innerHTML = statusKeys[i];
    cell2.innerHTML = statusValues[i];
}

new Chart("BugStatus", {
    type: "pie",
    data: {
        labels: statusKeys,
        datasets: [{
            backgroundColor: pieColors,
            data: statusValues
        }]
    },
    options: {
        title: {
            display: true,
            text: "Bug Status Distribution"
        }
    }
});

// Priority Bar Chart and Table
let priorityKeys = Object.keys(result.priority);
let priorityValues = Object.values(result.priority);
priorityValues.push(0); // Append zero to the end of priority values array
let barColors = ["red", "orange", "green"];
let priorityTable = document.getElementById("PriorityTable");

for (let i = 0; i < priorityKeys.length; i++) {
    let row = priorityTable.insertRow();
    let cell1 = row.insertCell(0);
    let cell2 = row.insertCell(1);
    cell1.innerHTML = priorityKeys[i];
    cell2.innerHTML = priorityValues[i];
}

new Chart("Priority", {
    type: "bar",
    data: {
        labels: priorityKeys,
        datasets: [{
            backgroundColor: barColors,
            data: priorityValues
        }]
    },
    options: {
        legend: { display: false },
        title: {
            display: true,
            text: "Bug Priority Distribution"
        }
    }
});
</script>