<div class="container">
    <p class="h1 text-center my-2 text-bg-dark form-border">Create Bug</p>
    <form id="signup-form" class="row form-border p-2 g-3 mt-2" method="post" action="createbug">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label for="name" class="form-label">Title</label>
                <input type="text" class="form-control" id="bug-name" name="name">
            </div>
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="bug-description" name="bug-description" rows="3"></textarea>
        </div>

        {{#isnt user.role 'user'}}
        <div class="col-md-6">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" name="status">
                <option value="todo" selected>To Do</option>
                <option value="inprogress">In Review</option>
                <option value="inprogress">In Progress</option>
                <option value="inprogress">In Testing</option>
                <option value="inprogress">Completed</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="priority" class="form-label">Priority</label>
            <select class="form-select" name="priority">
                <option value="high" selected>High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
    </div>

        {{#eq user.role 'manager'}}
        <div class="row justify-content-center my-2">
            <div class="col-md-6">
                <label for="members" class="form-label">Members</label>
                <select multiple class="form-select" name="members">
                    {{#each members}}
                    <option value="{{email}}">{{firstName}} {{lastName}} | {{email}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{/eq}}
        {{/isnt}}
        <div class="row justify-content-center">
            <button type="submit" class="col-md-4 btn btn-dark">Submit</button>
        </div>
    </form>
</div>