<div class="container">
    <p class="h1 text-center my-2 text-bg-dark form-border">Create Bug</p>
    <form id="signup-form" class="row form-border p-2 g-3 mt-2" method="post" action="/register">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label for="bug-name" class="form-label">Title</label>
                <input type="text" class="form-control" id="bug-name" name="bug-name">
            </div>
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="bug-description" name="bug-description" rows="3"></textarea>
        </div>

        <div class="col-md-6">
            <label for="bug-status" class="form-label">Status</label>
            <select class="form-select" name="bug-status">
                <option value="todo" selected>To Do</option>
                <option value="inprogress">In Review</option>
                <option value="inprogress">In Progress</option>
                <option value="inprogress">In Testing</option>
                <option value="inprogress">Completed</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="bug-priority" class="form-label">Priority</label>
            <select class="form-select" name="bug-priority">
                <option value="high" selected>High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </div>

        <div class="row justify-content-center my-2">
            <div class="col-md-6">
                <label for="bug-members" class="form-label">Members</label>
                <select class="form-select" name="bug-members">
                    <option selected>Add Members</option>
                    <option value="high">Member1</option>
                    <option value="medium">Member2</option>
                    <option value="low">Member3</option>
                </select>
            </div>
        </div>
    </form>
</div>