<div class="container">
    <p class="h1 text-center my-3 text-bg-dark form-border">Software Packages</p>
    <div id="filter" class="card column mb-3 text-bg-light">
        <div class="controls col-md-8">
            <input id="event-name" type="text" name="event-name" class="form-control-md col-md-12" placeholder="Enter search text">
        </div>
        <button id="search" class="btn btn-primary btn-lg col-md-3">Search</button>
        <div id="loader" class="col-md-1" hidden>
            <div class="spinner-border"></div>
        </div>
    </div>
    {{#each packages}}
        <div class="card text-center text-bg-secondary mb-3">
        <div class="card-header h3">
            {{name}}
            <span class="badge bg-secondary float-end">{{status}}</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-lg btn-primary">View</a>
        </div>
    </div>
    {{/each}}
</div>