<div id="container" class="container">
    <p class="h1 text-center my-2 text-bg-success form-border">Add User</p>
    <form id="signup-form" class="row form-border p-2 g-3 mt-2" method="post" action="/register">
        <div class="col-md-6">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname">
        </div>
        <div class="col-md-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>

        <input type="hidden" value="user" name="role">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-success">Create Account</button>
        </div>
    </form>

    <p id="go_to_login"><a href="/login">Already have an account? Click Here to login!</a></p>
</div>